:root {
  --background-color1: rgb(18, 29, 36);
  --background-color2: rgb(41, 54, 69);
  --background-color3: rgb(56,72,91);

}
.greet-section {
  color: white;
  padding: 0 1%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div p {
  margin-left: 13%;
}

.notification-bell {
  padding: 0.8%;
  font-size: 1.2em;
  cursor: pointer;
}
/* .notification-bell span sup{
  background: rgb(41, 54, 69);
  border-radius: 50%;
} */
.notification-bell:hover {
  /* background: rgb(56,72,91); */
  background: var(--background-color3);
  border-radius: 50%;
}
